
body {
    background-image: url("assets/images/Skybackground.jpg");
}


.list-group {
    font-size: smaller;
}

.col-md-12 {
    font-size: xx-large;
}

.gempics {
    height: 150px;
    width: auto;
}

#gemgoal {
    width: auto;
    height: 200px;
}

#yourscore {
    height: 100px;
    width: auto;
}